In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('/Users/andrewmskorupa/Downloads/test_modified.csv')
data.head(15)

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Years,Item_Fat_Content_0,Item_Fat_Content_1,Outlet_Location_Type_0,Outlet_Location_Type_1,...,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9
0,FDW58,20.750,0.007565,107.8622,OUT049,10,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,FDW14,8.300,0.038428,87.3198,OUT017,2,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
2,NCN55,14.600,0.099575,241.7538,OUT010,11,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,FDQ58,7.315,0.015388,155.0340,OUT017,2,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
4,FDY38,13.600,0.118599,234.2300,OUT027,24,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
5,FDH56,9.800,0.063817,117.1492,OUT046,12,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
6,FDL48,19.350,0.082602,50.1034,OUT018,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
7,FDC48,9.195,0.015782,81.0592,OUT027,24,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,FDN33,6.305,0.123365,95.7436,OUT045,7,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
9,FDA36,5.985,0.005698,186.8924,OUT017,2,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
10,FDT44,16.600,0.103569,118.3466,OUT017,2,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
11,FDQ56,6.590,0.105811,85.3908,OUT045,7,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
12,NCC54,17.750,0.171079,240.4196,OUT019,24,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
13,FDU11,4.785,0.092738,122.3098,OUT049,10,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
14,DRL59,16.750,0.021206,52.0298,OUT013,22,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [4]:
# Quick Exploratory Analysis of Weight

Avg_Weight = data['Item_Weight'].mean()
Max_Weight = data['Item_Weight'].max()
Min_Weight = data['Item_Weight'].min()

In [5]:
# Quick Exploratory Analysis of MRP
Avg_MRP = data['Item_MRP'].mean()
Max_MRP = data['Item_MRP'].max()
Min_MRP = data['Item_MRP'].min()

In [7]:
# Quick Exploratory Analysis of Item Visibility
Avg_Vis = data['Item_Visibility'].mean()
Max_Vis = data['Item_Visibility'].max()
Min_Vis = data['Item_Visibility'].min()

In [8]:
# Creat a summary dataframe

sumdf = pd.DataFrame({'Summary Item' : ['Average Weight', 'Maximum Weight', 'Minimum Weight', 'Average MRP', 'Maximum MRP', 'Minimum MRP', 'Average Visibility', 'Maximum Visibility', 'Minimum Visibility'],
                      'Value' : [Avg_Weight, Max_Weight, Min_Weight, Avg_MRP, Max_MRP, Min_MRP, Avg_Vis, Max_Vis, Min_Vis]})
sumdf

         Summary Item       Value
0      Average Weight   12.672996
1      Maximum Weight   21.350000
2      Minimum Weight    4.555000
3         Average MRP  141.023273
4         Maximum MRP  266.588400
5         Minimum MRP   31.990000
6  Average Visibility    0.069363
7  Maximum Visibility    0.323637
8  Minimum Visibility    0.003591

In [10]:
#Reset index for better readability

sumdf.set_index('Summary Item', inplace=True)
sumdf

                         Value
Summary Item
Average Weight       12.672996
Maximum Weight       21.350000
Minimum Weight        4.555000
Average MRP         141.023273
Maximum MRP         266.588400
Minimum MRP          31.990000
Average Visibility    0.069363
Maximum Visibility    0.323637
Minimum Visibility    0.003591

In [11]:
#Test inplace argument
sumdf

                         Value
Summary Item
Average Weight       12.672996
Maximum Weight       21.350000
Minimum Weight        4.555000
Average MRP         141.023273
Maximum MRP         266.588400
Minimum MRP          31.990000
Average Visibility    0.069363
Maximum Visibility    0.323637
Minimum Visibility    0.003591